<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block bodyTop %}{% endblock %}
        {% block bodyBottom %}{% endblock %}
        {% block footer %}{% endblock %}
        <script type="text/javascript">
        {% block javascripts %}{% endblock %}
        </script>
    </body>
</html>
