{% extends "base.html.twig" %}

    {% block stylesheets %}
        <script
                      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"
                      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                      crossorigin="anonymous">
        </script>
                <script  type="text/javascript" src="js/gridzy.js"></script>

        <link rel="stylesheet" href="css/gridzy.css" type="text/css" />
    {% endblock %}

    {% block bodyTop %}
        <h1>Uploader</h1>
        
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        
    {% endblock %}
    {% block bodyBottom %}

    <h1>Gallery</h1>

    <div class="gridzy gridzyClassic gridzyLightProgressIndicator gridzyAnimated">
        {% for image in data %}
        <div>
            <img src="{{ image.link }}" alt="{{ image.name }}" />
            <div>
                {{ image.name }} <a href="{{ image.link }}">{{ image.name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>        
    {% endblock %}
    {% block javascripts %}
        $( document ).ready(function() {
            $('.gridzy').gridzy({
                // options go here
                // as an example, space between elements is set to 5 pixel.
                spaceBetweenElements: 5
            });
        });
    {% endblock %}